body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: black;
  color: lightgray;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

div.container {
  margin-left: auto;
  margin-right: auto;
  width: 66vw;
}

@media only screen and (min-width: 801px) and (max-width: 1441px) {
  div.container {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
  div.container {
    width: 100%;
  }
}
